/* _________________________________________
CONTENT:	Jeep_HW1
AUTHOR:		Melissa I. Sattler
____________________________________________

TABLE OF CONTENTS:

1. VARIABLES
2. TYPOGRAPHY
3. CONTENT

========================================================== */
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}/*keep content on float element from going over eachother*/

/* 1. VARIABLES  ========================================= */

@import "base/reset"; //always should go first
@import "base/typography";

@import "components/navigation"

@import "helpers/mixins";
@import "helpers/variables";

@import "layout/footer";
@import "layout/header";

@import "pages/home";
@import "pages/vehicles";

/* 2. TYPOGRAPHY  ======================================== */


/*  CONTENT  =============================================== */
.body--wrapper{
	position: relative;
    width: 1366px;
    height: 1222px;
    margin: 0 auto;
}
.header {
	width:	100%;
	height: 60px;
	border-bottom: 1px solid $body-color;
	background-color: $body-color;
	@include header--gradient;
	.header__logo{
		float: left;
		padding: 8px;
		margin-left: 150px;
	}
	.header__logo-banner{
		position: absolute;	
		margin-left: 800px;
	}
	.header__nav{
		position: absolute;
		left: 280px;
		top: 0px;
		ul li{
			float: left;
			border-right: 1px solid $body-color;
			border-left: 1px solid $body-color;
			padding: 22px 0 22px 0;
			.header__nav-links {
				padding: 16px 24px 21px 24px;
				font-weight: 400;
				text-decoration: none;
				color: #444;
				&:hover,
				&:focus{
					@include header--active;
				}	
			}
			.active{
				@include header--active;
			}
		}
	}
}

.body__featured-image{
	position: relative;
    @include width-height--fullPercent;
    overflow: hidden;
	.body__featured-image-bkg{
		position: absolute;
		@include width-height--fullPercent;
		left: 0;
		background-image: url(../img/feature-1-bg.jpg);
		background-repeat: no-repeat;
		z-index: -10;
	}
	.body__featured-image-fg{
		position: absolute;
		@include width-height--fullPercent;
		top: 247px;
    	left: 60px;
		background-image: url(../img/feature-1-vehicles.jpg);
		background-repeat: no-repeat;
		transform-origin: 50% 50%;
		z-index: -5;	
	}
}
.body__squares-container{
	@include container--width;
    margin: 500px auto;
	.body__squares{
		float: left;
		background-clip: content-box;
		margin: 10px;
		padding: 4px;
		background-color: $main-font-color;
		border: 1px solid $main-font-color;
		text-align: center;
	}
	.body__squares--large{
		position: relative;
		width: 430px;
		height: 200px;
		p{
			@include body__squares--font;
	    	font-size: 20px;
		}
	}
	.body__squares--medium{
		position: relative;
		width: 310px;
		height: 200px;
		p{
			@include body__squares--font;
		}
	}
}
