/* _________________________________________
CONTENT:	Jeep_HW1
AUTHOR:		Melissa I. Sattler
____________________________________________

TABLE OF CONTENTS:

1. VARIABLES
2. TYPOGRAPHY
3. CONTENT

========================================================== */
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}/*keep content on float element from going over eachother*/

/* 1. VARIABLES  ========================================= */

@import "vendor/reset"; //always should go first

@import "base/variables";
@import "base/mixins";

@import 'https://fonts.googleapis.com/css?family=Montserrat';


/* 2. TYPOGRAPHY  ======================================== */

body{
	background-color: $body-color;
	font-family: Arial, Helvetica, sans-serif;
}
header{
	font-family: 'Montserrat', sans-serif;
}

/*  CONTENT  =============================================== */
.body--wrapper{
	position: relative;
    width: 1366px;
    height: 1222px;
    margin: 0 auto;
}
.header {
	width:	100%;
	height: 60px;
	border-bottom: 1px solid $body-color;
	background-color: $body-color;
	@include header--gradient;
	.header__logo{
		float: left;
		padding: 8px;
		margin-left: 150px;
	}
	.header__logo-banner{
		position: absolute;	
		margin-left: 800px;
	}
	.header__nav{
		position: absolute;
		left: 280px;
		top: 0px;
		ul li{
			float: left;
			border-right: 1px solid $body-color;
			border-left: 1px solid $body-color;
			padding: 22px 0 22px 0;
			.header__nav-links {
				padding: 16px 24px 21px 24px;
				font-weight: 400;
				text-decoration: none;
				color: #444;
				&:hover,
				&:focus{
					@include header--active;
				}	
			}
			.active{
				@include header--active;
			}
		}
	}
}

.body__featured-image{
	position: relative;
    @include width-height--fullPercent;
    overflow: hidden;
	.body__featured-image-bkg{
		position: absolute;
		@include width-height--fullPercent;
		left: 0;
		background-image: url(../img/feature-1-bg.jpg);
		background-repeat: no-repeat;
		z-index: -10;
	}
	.body__featured-image-fg{
		position: absolute;
		@include width-height--fullPercent;
		top: 247px;
    	left: 60px;
		background-image: url(../img/feature-1-vehicles.jpg);
		background-repeat: no-repeat;
		transform-origin: 50% 50%;
		z-index: -5;	
	}
}
.body__squares-container{
	@include container--width;
    margin: 500px auto;
	.body__squares{
		float: left;
		background-clip: content-box;
		margin: 10px;
		padding: 4px;
		background-color: $main-font-color;
		border: 1px solid $main-font-color;
		text-align: center;
	}
	.body__squares--430x200{
		position: relative;
		width: 430px;
		height: 200px;
		p{
			@include body__squares--font;
	    	font-size: 20px;
		}
	}
	.body__squares--310x200{
		position: relative;
		width: 310px;
		height: 200px;
		p{
			@include body__squares--font;
		}
	}
}
.footer{
	position: absolute;
	width: 100%;
	height: 482px;
	top: 100%;
	left: 0;
	font-size: 12px;
	color: $main-font-color;
	border-top: 1px solid #444; 
	@include footer--gradient;
	.footer__links-container{
		@include container--width;
		margin: 0 auto;
		.footer__links{
			float: left;
			width: 220px;
			padding: 40px 0px 50px 10px;
			line-height: 1.8em;
			height: auto;
			.footer__links--header{
				text-transform: uppercase;
				font-weight: 700;
			}
			.footer__links--disclaimers{
				display: block;
				opacity: 0.5;	
			}
		}	
	}
}
.footer__copyright{
	width: 100%;
	margin: 0 auto;
	p{
		display: block;
		line-height: 1.8em;
		padding: 0px 0 5px 10px;
		color: #555;
	}
}
