/* _________________________________________
CONTENT:	Jeep_HW1
AUTHOR:		Melissa I. Sattler
____________________________________________

TABLE OF CONTENTS:

1. VARIABLES
2. TYPOGRAPHY
3. CONTENT

========================================================== */
@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*keep content on float element from going over eachother*/
/* 1. VARIABLES  ========================================= */
/* 2. TYPOGRAPHY  ======================================== */
body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif; }

header {
  font-family: 'Montserrat', sans-serif; }

/*  CONTENT  =============================================== */
.body--wrapper {
  position: relative;
  width: 1366px;
  height: 1222px;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #000000;
  background-image: -moz-linear-gradient(90deg, #000 0%, #333 100%);
  background-image: -webkit-linear-gradient(90deg, #000 0%, #333 100%);
  background-image: -ms-linear-gradient(90deg, #000 0%, #333 100%);
  background-color: #000000; }
  .header .header__logo {
    float: left;
    padding: 8px;
    margin-left: 150px; }
  .header .header__logo-banner {
    position: absolute;
    margin-left: 800px; }
  .header .header__nav {
    position: absolute;
    left: 280px;
    top: 0px; }
    .header .header__nav ul li {
      float: left;
      border-right: 2px solid #000000;
      padding: 22px 0 22px 0; }
      .header .header__nav ul li .header__nav-home,
      .header .header__nav ul li .header__nav-work,
      .header .header__nav ul li .header__nav-shoppingTools,
      .header .header__nav ul li .header__nav-capability,
      .header .header__nav ul li .header__nav-owners {
        padding: 16px 24px 21px 24px;
        font-weight: 400;
        text-decoration: none;
        color: #444; }
        .header .header__nav ul li .header__nav-home:hover, .header .header__nav ul li .header__nav-home:focus,
        .header .header__nav ul li .header__nav-work:hover,
        .header .header__nav ul li .header__nav-work:focus,
        .header .header__nav ul li .header__nav-shoppingTools:hover,
        .header .header__nav ul li .header__nav-shoppingTools:focus,
        .header .header__nav ul li .header__nav-capability:hover,
        .header .header__nav ul li .header__nav-capability:focus,
        .header .header__nav ul li .header__nav-owners:hover,
        .header .header__nav ul li .header__nav-owners:focus {
          border-top: 4px inset #ffb302;
          background-color: #000000;
          color: white; }
      .header .header__nav ul li .active {
        border-top: 4px inset #ffb302;
        background-color: #000000;
        color: white; }

.body__featured-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .body__featured-image .body__featured-image-bkg {
    position: absolute;
    background-image: url(../img/feature-1-bg.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: 0;
    z-index: -10; }
  .body__featured-image .body__featured-image-fg {
    position: absolute;
    background-image: url(../img/feature-1-vehicles.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;
    top: 247px;
    left: 60px;
    z-index: -5; }

.body__squares-container {
  width: 1110px;
  margin: 500px auto; }
  .body__squares-container .body__squares {
    float: left;
    background-clip: content-box;
    margin: 10px;
    padding: 4px;
    background-color: white;
    border: 1px solid #ffffff;
    text-align: center; }
  .body__squares-container .body__squares--430x200 {
    position: relative;
    width: 430px;
    height: 200px; }
    .body__squares-container .body__squares--430x200 p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #555;
      font-weight: bold;
      opacity: 0.5;
      font-size: 20px; }
  .body__squares-container .body__squares--310x200 {
    position: relative;
    width: 310px;
    height: 200px; }
    .body__squares-container .body__squares--310x200 p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #555;
      font-weight: bold;
      opacity: 0.5; }

.footer {
  position: absolute;
  width: 100%;
  height: 482px;
  top: 100%;
  left: 0;
  font-size: 12px;
  color: #FFF;
  border-top: 1px solid #444;
  background-image: -moz-linear-gradient(90deg, #111 0%, #222 100%);
  background-image: -webkit-linear-gradient(90deg, #111 0%, #222 100%);
  background-image: -ms-linear-gradient(90deg, #111 0%, #222 100%); }
  .footer .footer__links-container {
    width: 1110px;
    margin: 0 auto; }
    .footer .footer__links-container .footer__links {
      float: left;
      width: 220px;
      padding: 40px 0px 50px 10px;
      height: auto; }
      .footer .footer__links-container .footer__links .footer__links--header {
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.8em; }
      .footer .footer__links-container .footer__links .footer__links--disclaimers {
        display: block;
        opacity: 0.5;
        line-height: 1.8em; }

.footer__copyright {
  width: 100%;
  margin: 0 auto; }
  .footer__copyright p {
    display: block;
    line-height: 1.8em;
    padding: 0px 0 5px 10px;
    color: #555; }

/*
Recreate the Jeep page using Sass and Gulp and the BEM notation methodology. The project files and assets are available under Class Files.

---------------------------------
STEP ONE - GIT

Create an account on GitHub. (Use the following tutorial if needed: http://try.github.io)

---------------------------------
STEP TWO - PROJECT

DESIGN INFO
The main brand font used for this site is Monserrat, available from Google Fonts. All body copy should be in an Arial/Helvetica/sans-serif stack.

Here are the colors used for links and many other components.
@colorBrand: 			#ffb302; // Gold
@colorAccent: 			#ff9d01; // Darker gold


HEADER
The header is 60px tall. The background gradient is from #333 to #000. The Jeep logo is available in the header-sprite.png file. Active states have a 4px gold border at the top.

FOOTER
Gradient from #222 to #111. Border at the top is #444. Font size is 12px for links and disclaimers with headers that are white.

OTHER NOTES
Use mixins for all gradients and any other code you find yourself using more than twice.

---------------------------------
STEP THREE - SUBMIT TO GITHUB AND RINGMASTER
Create a repository for this project on GITHUB. Add and commit your work to this repository. (Here's a cheat-sheet to help you along.
http://www.git-tower.com/blog/git-cheat-sheet-detail/)

Also upload your code to CircusLabs, and then submit both links here on RingMaster
*/
